<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">

    <title>EscapePlan</title>

</head>
<body>
    <header>
        <div class="innerContainer">
            <nav class="flexBox twoCol">
                <a href="/index" class="logo">EscapePlan</a>
                <ul class="flexBox">
                    <li><a href="/login"> Packing List</a></li>
                    <li><a href="/signup"> Itinerary</a></li>
                    <li><a href="/signup"> Budget</a></li>
                    <a href="/logout">Logout</a> 
                </ul>
            </nav>
    </header>
    <section class="innerContainer">
        <div class="hero">
            <h1><%= user.userName %>'s Budget</h1>
            <p>Keep track of your budget</p>
            <form action="/todos/createBudget" method='POST' class="flexBox">
                <input type="text" placeholder="Enter Budget" name='totalBudget' class="appForm">
                <select name="packingList" class="appForm">
                    <option value="null">Where to pack?</option>
                    <option value="Carry-on">Carry-on</option>
                    <option value="Checked Luggage">Checked Luggage</option>
                    <option value="Personal Bag">Personal Bag</option>
                    <option value="Other">Other</option>
                </select>
                <input type="submit">
            </form>
        </div>
        <div class="spacer"></div>
        <div class="hero">
            <h3>There are <strong><%= left %></strong> things left to pack!</h3>
        </div>
        <div class="spacer"></div>
        <div class="flexBox twoCol gap2">
            <div class="card">
                <h3>Carry-On Luggage</h3>
                <ul>
                    <% todos.filter((list)=> list.packingList === "Carry-on").forEach( el => { %>
                            <li class='todoItem' data-id='<%=el._id%>'><input type="checkbox" class="check">
                                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                                <span class='fa fa-trash del'></span>
                            </li>
                    <% }) %>    
                </ul>
            </div>
            <div class="card">
                <h3>Checked Luggage</h3>
                <ul>
                    <% todos.filter((list)=> list.packingList === "Checked Luggage").forEach( el => { %>
                            <li class='todoItem' data-id='<%=el._id%>'><input type="checkbox" class="check">
                                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                                <span class='fa fa-trash del'> </span>
                            </li>
                    <% }) %>    
                </ul>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="flexBox twoCol gap2">
            <div class="card">
                <h3>Personal Bag</h3>
                <ul>
                    <% todos.filter((list)=> list.packingList === "Personal Bag").forEach( el => { %>
                            <li class='todoItem' data-id='<%=el._id%>'><input type="checkbox" class="check">
                                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                                <span class='fa fa-trash del'></span>
                            </li>
                    <% }) %>    
                </ul>
            </div>
            <div class="card">
                <h3>Other</h3>
                <ul>
                    <% todos.filter((list)=> list.packingList === "Other").forEach( el => { %>
                            <li class='todoItem' data-id='<%=el._id%>'>
                                <input type="checkbox" class="check"><span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                                <span class='fa fa-trash del'></span>
                            </li>
                    <% }) %>    
                </ul>
            </div>
        </div>
        
    </section>
    <script src="js/main.js"></script>
</body>
</html>